<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">MAIL</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/inbox">inbox</a></li>
                <li><a href="/send">Send</a></li>
                <li><a href="/sent">Sent</a></li>
                <li class="active"><a href="#">change Password</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Welcome {{user}}</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-logout"></span>logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top:50px">
        <h2>Password Change</h2>
        {{#if msg}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{msg}}</strong>
        </div>
        {{/if}}

        <br>
        <form action="/changepass" method="POST">
            <div class="form-group">
                <label for="passward">old Password</label>
                <input type="passward" class="form-control" id="name" placeholder="Enter email" name="old">
            </div>
            <div class="form-group">
                <label for="passward">New Password</label>
                <input type="text" class="form-control" id="user" placeholder="Enter email" name="new">
            </div>
            <div class="form-group">
                <label for="passward">Conform Password</label>
                <input type="passward" class="form-control" id="name" placeholder="Enter email" name="new1">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>

</html>