
        <h2>Password Change</h2>
        {{#if msg}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{msg}}</strong>
        </div>
        {{/if}}

        <br>
        <form action="/changepass" method="POST">
            <div class="form-group">
                <label for="passward">old Password</label>
                <input type="passward" class="form-control" id="name" placeholder="Enter email" name="old">
            </div>
            <div class="form-group">
                <label for="passward">New Password</label>
                <input type="text" class="form-control" id="user" placeholder="Enter email" name="new">
            </div>
            <div class="form-group">
                <label for="passward">Conform Password</label>
                <input type="passward" class="form-control" id="name" placeholder="Enter email" name="new1">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
