<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    
<!--<img src="images/1.jpg" alt="image"> -->
<center>
<h1> Menu </h1>

<hr>

<div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="#">Show Message</a>
    <a href="#">Send Message</a>
    <a href="#">Delete Message</a>
    <a href="#">Change Password</a>
</div>


</center>
</body>
</html>