
      {{#if msg}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{msg}}</strong>
        </div>
        {{/if}}
        
        <img src="/upload/{{img}}" height="100" width="100" alt="image" style="margin-top: 30px">
        <h1>Welcome {{user}}</h1>
        
        <h2>Welcome to our MailApp Service</h2>
        <h3>Explore more to use more</h3>
