<h2>Compose Mail</h2>
    {{#if msg}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{msg}}</strong>
        </div>
        {{/if}}

  <form action="/sendreq" method="POST">
    <div class="form-group">
      <label>To</label>
      <input type="email" class="form-control" id="mailid" placeholder="Enter Receivers email Id" name="remail">
    </div>

    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" id="subject" placeholder="Enter Subject" name="subject">
    </div>
    
    <div class="form-group">
      <textarea cols="50" rows="8" placeholder="Message" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
    